.featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #64a19d;
}
a {
    color: #3c6360;
}
p a {
    text-decoration: underline;
}
.btn-primary {
    background-color: #3c6360;
}
ul.plain-list {
    list-style: none;
    padding-left: 1.3em;
}
.plain-list li {
    padding-left: 0.25em;
    text-indent: -1.5em;
}
.about-section h3 {
    font-size: 1.5rem;
}
.highlight {
    font-weight: 600;
}
.footer-links a {
    color: white;
}

/* Subpages */

.subpage #headernav {
	margin-bottom: 3em;
}


/* About */

.about-section .project, .about-section .profile-photo {
    background-color: #c9dedd;
}
.about-section a {
    color: #5b415c;
}
.about-section a:hover, .about-section a:focus {
    color: #6b546c;
}


/* Newsletter */

.card {
    background-color: rgba(255,255,255,0.9);
}
.card.newsletter {
    margin-bottom: 1.2em;
}
.newsletter p {
    font-size: 80%;
}
#mc_embed_signup label {
    font-size: 1.3rem;
    font-family: Philosopher,sans-serif;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: unset;
}
#mc_embed_signup .button {
    background-color: #3c6360;
}
.contact-section .card h4 {
    font-size: .9rem;
}

