/*Base color ranges
green 3d4435
pink d0aca2*/


/* Global */

body {
   background-color: #3d4435; 
}

a {
    color: #304f4c;
}

a:hover {
    text-decoration: underline;
}


/* Navbar */

#mainNav.navbar-shrink, #mainNav {
  background-color: #bb9a91;
  background-image: inherit;
}

#mainNav.navbar-shrink .nav-link:hover {
  color: #3d4435;
}

#mainNav .navbar-toggler {
    color: #3d4435;
    border: 1px solid #3d4435;
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
    #mainNav.navbar-shrink .nav-link {
      padding: 1rem 1.5rem 1rem;
    }
     #mainNav.navbar-shrink .nav-link.active {
      color: #3d4435;
      outline: 0;
      border-bottom: .25rem solid #3d4435;
    }
}


/* Intro section */

#intro {
    margin-top: 7em;
}

#intro p {
    padding-top: 1em;
}


/* Subpages */

.subpage #headernav {
    margin-bottom: 3em;
}

.subpage a {
    color:  #dec4bd;
    text-decoration: underline;
}


/* Text and Fonts */

p a {
    text-decoration: underline;
}

h2, .subpage h1 {
    color: #dec4bd;
}

h3 {
    color: #dec4bd;
    font-size: 1.3rem;
    font-family: Philosopher,sans-serif;
}

p, ul, ol {
   color: #c2c8cc; 
}

.featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #d0aca2;
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
    .featured-text-right {
        padding: 0 2rem 0 0 ;
        border-right: 0.5rem solid #d0aca2;
    }
}

.no-edge {
    border-right: none;
    border-left: none;
}

ul.plain-list {
    list-style: none;
    padding-left: 1.3em;
}

.plain-list li {
    padding-left: 0.25em;
    text-indent: -1.5em;
}

.highlight {
    font-weight: 600;
}



/* Sections */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) { 
    section {
        padding: 2em 0;
    }
}

section + section {
  padding: 2em 0;
}

section hr {
  border-color: #3d4435;
  border-width: .25rem;
  width: 30%;
}

section.light {
    background-color: #e2cdc7;
}

section.light h2, section.light h3 {
    color: #3d4435;
}

section.light p, section.light ul {
    color: #000;
}


/* Images */

img.arch {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom: 0.5rem solid #bb9a91;
    max-height: 400px;
}

.trio-image img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 15px;
  border-bottom: 0.5rem solid #bb9a91;
}

.img-cert {
    max-height: 75px;
    display: inline-block;
    padding-right: 1em; 
}

.profile-photo img {
    max-height: 300px;
    width: auto;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top: 0.5rem solid #bb9a91;
    border-bottom: 0.5rem solid #bb9a91;
}


/* Buttons */

.btn-primary {
    background-color: #3c6360;
}

.btn-light {
    color: #1e221a;
    background-color: #d0aca2;
    padding: 1em;
    margin: 1em 0;
/*    text-transform: unset;*/
}

.btn-light:hover {
    background-color: #7c6761;
}



/* Offerings */

.offering-block + .offering-block {
    padding-top:  2em;
}

@media only screen and (min-width: 992px) { 
    .offering-block + .offering-block {
        padding-top:  inherit;
    }
}


/* About */

.about-section {
  padding: 2rem 0 0;
}

.about-section h3 {
    font-size: 1.5rem;
    padding-left: 1.25em;
}

.about-section ul {
    padding-left: 15px;
}

.about-section .project, .about-section .profile-photo {
    background-color: inherit;
}

.about-section .project .text-wrapper hr {
    border-color: #3d4435;
}

.about-section .profile-photo img {
    -o-object-fit: unset;
    object-fit: unset;
    min-height: unset;
}

.about-section .project .text-wrapper {
  padding-bottom: 0;
  padding-top: 0;

}


/* Newsletter */

/* MailChimp Form Embed Code - Horizontal Super Slim - 12/16/2015 v10.7
Adapted from: http://blog.heyimcat.com/universal-signup-form/ */

#mc_embed_signup form {text-align:center; padding:10px 0 10px 0;}
.mc-field-group { display: inline-block; } /* positions input field horizontally */
#mc_embed_signup input.email {font-family:"Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif; font-size: 15px; border: 1px solid #ABB0B2;  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #343434; background-color: #fff; box-sizing:border-box; height:32px; padding: 0px 0.4em; display: inline-block; margin: 0; width:350px; vertical-align:top;}
#mc_embed_signup label {display:block; font-size:16px; padding-bottom:10px; font-weight:bold;}
#mc_embed_signup .clear {display: inline-block;} /* positions button horizontally in line with input */
#mc_embed_signup .button {font-size: 13px; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; letter-spacing: .03em; color: #fff; background-color: #aaa; box-sizing:border-box; height:32px; line-height:32px; padding:0 18px; display: inline-block; margin: 0; transition: all 0.23s ease-in-out 0s;}
#mc_embed_signup .button:hover {background-color:#777; cursor:pointer;}
#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}
@media (max-width: 768px) {
    #mc_embed_signup input.email {width:100%; margin-bottom:5px;}
    #mc_embed_signup .clear {display: block; width: 100% }
    #mc_embed_signup .button {width: 100%; margin:0; }
}


/* Contact Section */

.contact-section {
    background: linear-gradient(to bottom,rgba(226,205,199,100%) 0,rgba(61,68,53,.5) 75%,#3d4435 100%),url(../img/Matthesian-State-Park-cropped.jpg);
}

.card {
    background-color: rgba(255,255,255,0.7);
}
.card.newsletter {
    margin-bottom: 1.2em;
}
#mc_embed_signup label {
    color: #000;
    font-size: 1.3rem;
    font-family: Philosopher,sans-serif;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: unset;
}

#mc_embed_signup .button {
    background-color: #3d4435;
}
.contact-section .card h4 {
    font-size: .9rem;
}

.contact-section .card hr {
  border-color: #3d4435;
}

.contact-section .card {
  border-bottom: .25rem solid #bb9a91;
}

.card-body p {
    color: #3d4435;
}

.fab, .fas {
  color: #3d4435 !important;
}


/* Footer */

.footer-links a {
    color: white;
}

.footer-links a:hover, .footer-links a:focus {
    color: #c2c8cc;
    text-decoration:  none;
}

/* Insta Page */

body.insta h2 {
    font-size: 1.3rem;
    font-family: Philosopher,sans-serif;
    padding: 0.5em 0;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body.insta img {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}


