.about-section {
  padding: 10rem 0;
  background: linear-gradient(to bottom, #{fade-out($black, .9)} 0%,#{fade-out($black, .5)} 75%,$black 100%), url('../img/bg-contact.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  p {
    color: $white;
  }
  .container {
  	background: rgba(0, 0, 0, 0.6);
  	padding: 2em 1em;
  }
}
